<div class="why-superior">
  <!-- <div class="socials">
    <img class="x-img" src="assets/x.png" alt="">
  </div> -->
  <div class="top-container">
    <h1>What Even Is $WHY?</h1>
    <h3>Birthed from the existential crisis of a goldfish with big eyes</h3>
    <p>
      $WHY is a memecoin that doesnt aim at anything but hits anyway. This
      time it hit at providing a comprehensive understanding of the world around
      us, addressing the fundamental question of "why" in various contexts. It
      is designed to be a resource for those seeking deeper insights into life, crypto, and the universe.
    </p>
  </div>
  <div class="next-container">
    <div class="img-container">
        <img class="img" src="assets/coinmarketcap.png" alt="">
    </div>
  </div>
</div>
