<div class="landing-superior">
  <div class="socials">
    <a class="social-link" href="https://x.com/WHY_GOD_SOL">
      <img class="x-img" src="assets/x.png" alt="">
      <h6>X-OfficIal</h6>
    </a>
    <a class="social-link" href="https://x.com/i/communities/1948749902810345472">
      <img class="x-img" src="assets/communities.png" alt="">
      <h6>X-Communities</h6>
    </a>
     <a class="social-link" href="https://dexscreener.com/solana/61czckad6ab46rzbilesdzpjdev8qulbznov2yincktg">
      <img class="x-img" src="assets/dex.png" alt="">
      <h6>DEX Screener</h6>
    </a>
  </div>
  <div class="upper-section">
    <div class="blur-container"></div>
    <div class="title-container">
      <h1>Why God!?</h1>
      <h2>The goldfish memecoin.</h2>
      <h3>No roadmap. No promises. Just vibes.</h3>
      <h4>[Join the Swim 🫧] [Buy $WHY]</h4>
    </div>
  </div>
  <div class="lower-section">
    <app-carousel />
  </div>
</div>
