.landing-superior {
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 100%;
  color: rgb(173, 216, 230);
}

.upper-section {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blur-container {
  position: absolute;
  height: 90%;
  width: 50%;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.02); /* Optional tint */
  z-index: 0;
  box-shadow: 0 0 25px white;
}

.title-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 90%;
  width: 50%;
  // background-color: rgba(255, 255, 255, 0.02);/* or use dark with white text */
  // filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
}

.lower-section {
  height: 50%;
  width: 100%;
}

.socials {
  // background-color: red;
  z-index: 2;;
  position: absolute;
  left: .5rem;
  height: 50%;
  min-width: 25%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.social-link {
  // background-color: green;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  
  text-decoration: none; /* removes underline */
  color: inherit; /* inherits color from parent */
  font: inherit; /* inherits font styles */
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
  background: none; /* remove default background */
  border: none; /* remove default border */
}

.x-img {
  height: 100%;
  width: auto;
  border-radius: 1rem;
}
